

body{ color: rgb(78, 5, 12);
background-color: rgba(169, 173, 162, 0.416);
font-family: Arial, Helvetica, sans-serif;}

body{
    
    background-color: beige;
}
h1 {color:darkred}
header,footer{ text-align: center; background-color:rgb(207, 179, 244)}
div p{ background-color: rgba(16, 120, 120, 0.39);}

nav a {
  text-decoration: none;
  color: #1a33cc;
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}


.logo{
    width: 150px;
    height: auto;
}
.palvelu-kuva{
    width: 200px;
    height: auto;
}
@media only screen and 
(max-width:430px)
{
body {background-color: rgba(173, 67, 21, 0.212);}
}
@media only screen and (min-width:431px)
{
    body {background-color: rgb(2, 108, 73);}
}
.flex_container{display : flex;
gap: 10px;}
.flex_item {flex:1}
@media only screen and (min-width: 1200px)
{
    body { background-color: rgb(225, 106, 118);}
}

